## Preprocessing

In [70]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

## Optimization No. 3
1. using optimized model 2, add NAME and create buckets
2. add more APPLICATION_TYPE and CLASSIFICATION buckets

In [71]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [72]:
# Look at NAME value counts to identify and replace with "Other"
application_df["NAME"].value_counts()[application_df["NAME"].value_counts() > 100]

NAME
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
Name: count, dtype: int64

In [73]:
# Choose a cutoff value and create a list of name types to be replaced
# use the variable name `name_types_to_replace`
name_types_to_replace = application_df["NAME"].value_counts()[application_df["NAME"].value_counts() < 100].index.tolist()

# Replace in dataframe
application_df["NAME"] = application_df["NAME"].replace(name_types_to_replace, "Other")

# Check to make sure replacement was successful
application_df["NAME"].value_counts()

NAME
Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: count, dtype: int64

In [74]:
# Look at INCOME_AMT value counts to identify and replace with "Other"
application_df["INCOME_AMT"].value_counts()

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [75]:
import numpy as np

# Define the conditions
conditions = [
    application_df['INCOME_AMT'] == "0",
    application_df['INCOME_AMT'] == "1-9999",
    application_df['INCOME_AMT'] == "10000-24999",
    application_df['INCOME_AMT'] == "25000-99999",
    application_df['INCOME_AMT'] == "100000-499999",
    application_df['INCOME_AMT'] == "1M-5M",
    application_df['INCOME_AMT'] == "5M-10M",
    application_df['INCOME_AMT'] == "10M-50M"
]

# Define the corresponding values for LOW_INCOME_AMT and HIGH_INCOME_AMT
low_income_values = [0, 1, 10000, 25000, 100000, 1000000, 5000000, 10000000]
high_income_values = [0, 9999, 24999, 99999, 499999, 4999999, 9999999, 49999999]

# Use np.select to assign values based on conditions
application_df['LOW_INCOME_AMT'] = np.select(conditions, low_income_values, default=50000000)
application_df['HIGH_INCOME_AMT'] = np.select(conditions, high_income_values, default=50000000)

# Drop the INCOME_AMT column
application_df = application_df.drop("INCOME_AMT", axis=1)

application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,LOW_INCOME_AMT,HIGH_INCOME_AMT
0,Other,T10,Independent,C1000,ProductDev,Association,1,N,5000,1,0,0
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,N,108590,1,1,9999
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0,0,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,N,6692,1,10000,24999
4,Other,T3,Independent,C1000,Heathcare,Trust,1,N,142590,1,100000,499999

In [76]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                        31
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
LOW_INCOME_AMT               9
HIGH_INCOME_AMT              9
dtype: int64

In [77]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [78]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < 60].index.tolist()

# Replace in dataframe
application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(application_types_to_replace, "Other")

# Check to make sure replacement was successful
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: count, dtype: int64

In [79]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [80]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [81]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < 50].index.tolist()

# Replace in dataframe
application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(classifications_to_replace, "Other")

# Check to make sure replacement was successful
application_df["CLASSIFICATION"].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [82]:
application_df.head(15)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,LOW_INCOME_AMT,HIGH_INCOME_AMT
0,Other,T10,Independent,C1000,ProductDev,Association,1,N,5000,1,0,0
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,N,108590,1,1,9999
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0,0,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,N,6692,1,10000,24999
4,Other,T3,Independent,C1000,Heathcare,Trust,1,N,142590,1,100000,499999
5,Other,T3,Independent,C1200,Preservation,Trust,1,N,5000,1,0,0
6,Other,T3,Independent,C1000,Preservation,Trust,1,N,31452,1,100000,499999
7,Other,T3,Independent,C2000,Preservation,Trust,1,N,7508025,1,10000000,49999999
8,Other,T7,Independent,C1000,ProductDev,Trust,1,N,94389,1,1,9999
9,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,N,5000,0,0,0
10,Other,T3,Independent,C1200,Preservation,Trust,1,N,69656,0,25000,99999
11,Other,T3,Independent,C2000,Preservation,Trust,1,N,165593,0,100000,499999
12,THE UNITED STATES PONY CLUBS INC,T3,CompanySponsored,C1200,Preservation,Association,1,N,5000,1,0,0
13,Other,T3,Independent,C2700,Preservation,Trust,1,N,5301,1,25000,99999
14,Other,T3,Independent,C1000,Preservation,Trust,1,N,5000,1,0,0

In [83]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'SPECIAL_CONSIDERATIONS']

In [84]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df).astype(int)
application_df.head(15)

,STATUS,ASK_AMT,IS_SUCCESSFUL,LOW_INCOME_AMT,HIGH_INCOME_AMT,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,1,108590,1,1,9999,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
3,1,6692,1,10000,24999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,1,142590,1,100000,499999,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
5,1,5000,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
6,1,31452,1,100000,499999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
7,1,7508025,1,10000000,49999999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
8,1,94389,1,1,9999,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
9,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
10,1,69656,0,25000,99999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
11,1,165593,0,100000,499999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
12,1,5000,1,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
13,1,5301,1,25000,99999,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
14,1,5000,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0

In [85]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop("IS_SUCCESSFUL", axis=1).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [86]:
# Create a StandardScaler instances
X_scaler = StandardScaler()

# Fit the StandardScaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [87]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Count the columns in a DataFrame X
features_count = len(X_train[0])
neurons_first_layer = features_count + 24
neurons_second_layer = features_count
neurons_thrird_layer = features_count

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=neurons_first_layer, activation="relu", input_dim=features_count))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=neurons_second_layer, activation="relu"))

# Thrird hidden layer
nn_model.add(tf.keras.layers.Dense(units=neurons_thrird_layer, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

 Layer (type)                          Output Shape                         Param #

 dense_12 (Dense)                      (None, 103)                            8,240

 dense_13 (Dense)                      (None, 79)                             8,216

 dense_14 (Dense)                      (None, 79)                             6,320

 dense_15 (Dense)                      (None, 1)                                 80

 Total params: 22,856 (89.28 KB)

 Trainable params: 22,856 (89.28 KB)

 Non-trainable params: 0 (0.00 B)

In [88]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [89]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.7312 - loss: 0.5295
Epoch 2/100
804/804  3s 3ms/step - accuracy: 0.7560 - loss: 0.4948
Epoch 3/100
804/804  2s 3ms/step - accuracy: 0.7587 - loss: 0.4882
Epoch 4/100
804/804  2s 2ms/step - accuracy: 0.7573 - loss: 0.4922
Epoch 5/100
804/804  3s 2ms/step - accuracy: 0.7553 - loss: 0.4891
Epoch 6/100
804/804  3s 2ms/step - accuracy: 0.7565 - loss: 0.4891
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7583 - loss: 0.4858
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7640 - loss: 0.4860
Epoch 9/100
804/804  2s 3ms/step - accuracy: 0.7568 - loss: 0.4895
Epoch 10/100
804/804  1s 2ms/step - accuracy: 0.7615 - loss: 0.4865
Epoch 11/100
804/804  1s 2ms/step - accuracy: 0.7627 - loss: 0.4849
Epoch 12/100
804/804  3s 2ms/step - accuracy: 0.7612 - loss: 0.4835
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7630 - loss: 0.4822
Epoch 14/100
804/804  3s 2ms/step - accuracy: 0.7631 - loss: 0.4828
Epoch 15/100
804/804  2s 3ms/step - accuracy: 0.7619 - loss: 0.4846
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7646 - loss: 0.4811
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7606 - loss: 0.4875
Epoch 18/100
804/804  3s 2ms/step - accuracy: 0.7646 - loss: 0.4792
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7629 - loss: 0.4818
Epoch 20/100
804/804  1s 2ms/step - accuracy: 0.7601 - loss: 0.4846
Epoch 21/100
804/804  3s 3ms/step - accuracy: 0.7644 - loss: 0.4790
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7620 - loss: 0.4851
Epoch 23/100
804/804  1s 2ms/step - accuracy: 0.7656 - loss: 0.4801
Epoch 24/100
804/804  1s 2ms/step - accuracy: 0.7633 - loss: 0.4767
Epoch 25/100
804/804  3s 2ms/step - accuracy: 0.7670 - loss: 0.4775
Epoch 26/100
804/804  3s 2ms/step - accuracy: 0.7632 - loss: 0.4818
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7631 - loss: 0.4827
Epoch 28/100
804/804  3s 3ms/step - accuracy: 0.7637 - loss: 0.4809
Epoch 29/100
804/804  1s 2ms/step - accuracy: 0.7660 - loss: 0.4777
Epoch 30/100
804/804  1s 2ms/step - accuracy: 0.7678 - loss: 0.4757
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7660 - loss: 0.4773
Epoch 32/100
804/804  1s 2ms/step - accuracy: 0.7658 - loss: 0.4787
Epoch 33/100
804/804  3s 2ms/step - accuracy: 0.7702 - loss: 0.4680
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.7657 - loss: 0.4771
Epoch 35/100
804/804  2s 3ms/step - accuracy: 0.7646 - loss: 0.4765
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7666 - loss: 0.4748
Epoch 37/100
804/804  1s 2ms/step - accuracy: 0.7638 - loss: 0.4796
Epoch 38/100
804/804  1s 2ms/step - accuracy: 0.7635 - loss: 0.4802
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.7670 - loss: 0.4766
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7657 - loss: 0.4757
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.7690 - loss: 0.4755
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7674 - loss: 0.4721
Epoch 43/100
804/804  1s 2ms/step - accuracy: 0.7623 - loss: 0.4802
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.7683 - loss: 0.4746
Epoch 45/100
804/804  1s 2ms/step - accuracy: 0.7637 - loss: 0.4776
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7651 - loss: 0.4762
Epoch 47/100
804/804  1s 2ms/step - accuracy: 0.7605 - loss: 0.4829
Epoch 48/100
804/804  2s 3ms/step - accuracy: 0.7672 - loss: 0.4759
Epoch 49/100
804/804  2s 3ms/step - accuracy: 0.7645 - loss: 0.4765
Epoch 50/100
804/804  2s 2ms/step - accuracy: 0.7682 - loss: 0.4744
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.7652 - loss: 0.4764
Epoch 52/100
804/804  3s 2ms/step - accuracy: 0.7675 - loss: 0.4747
Epoch 53/100
804/804  1s 2ms/step - accuracy: 0.7676 - loss: 0.4750
Epoch 54/100
804/804  1s 2ms/step - accuracy: 0.7663 - loss: 0.4739
Epoch 55/100
804/804  3s 3ms/step - accuracy: 0.7655 - loss: 0.4739
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.7707 - loss: 0.4703
Epoch 57/100
804/804  1s 2ms/step - accuracy: 0.7643 - loss: 0.4783
Epoch 58/100
804/804  3s 2ms/step - accuracy: 0.7658 - loss: 0.4770
Epoch 59/100
804/804  1s 2ms/step - accuracy: 0.7640 - loss: 0.4765
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.7667 - loss: 0.4727
Epoch 61/100
804/804  3s 3ms/step - accuracy: 0.7643 - loss: 0.4765
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7660 - loss: 0.4757
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7640 - loss: 0.4746
Epoch 64/100
804/804  1s 2ms/step - accuracy: 0.7673 - loss: 0.4737
Epoch 65/100
804/804  1s 2ms/step - accuracy: 0.7670 - loss: 0.4731
Epoch 66/100
804/804  1s 2ms/step - accuracy: 0.7678 - loss: 0.4719
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.7712 - loss: 0.4706
Epoch 68/100
804/804  3s 3ms/step - accuracy: 0.7698 - loss: 0.4735
Epoch 69/100
804/804  2s 2ms/step - accuracy: 0.7676 - loss: 0.4739
Epoch 70/100
804/804  3s 2ms/step - accuracy: 0.7678 - loss: 0.4753
Epoch 71/100
804/804  3s 2ms/step - accuracy: 0.7666 - loss: 0.4739
Epoch 72/100
804/804  3s 2ms/step - accuracy: 0.7602 - loss: 0.4804
Epoch 73/100
804/804  3s 3ms/step - accuracy: 0.7634 - loss: 0.4790
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7682 - loss: 0.4747
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.7651 - loss: 0.4739
Epoch 76/100
804/804  3s 2ms/step - accuracy: 0.7674 - loss: 0.4748
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.7672 - loss: 0.4714
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7697 - loss: 0.4723
Epoch 79/100
804/804  3s 3ms/step - accuracy: 0.7688 - loss: 0.4715
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.7671 - loss: 0.4721
Epoch 81/100
804/804  1s 2ms/step - accuracy: 0.7649 - loss: 0.4737
Epoch 82/100
804/804  1s 2ms/step - accuracy: 0.7659 - loss: 0.4722
Epoch 83/100
804/804  3s 3ms/step - accuracy: 0.7719 - loss: 0.4703
Epoch 84/100
804/804  2s 3ms/step - accuracy: 0.7649 - loss: 0.4759
Epoch 85/100
804/804  2s 3ms/step - accuracy: 0.7700 - loss: 0.4732
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.7668 - loss: 0.4738
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.7628 - loss: 0.4777
Epoch 88/100
804/804  1s 2ms/step - accuracy: 0.7687 - loss: 0.4708
Epoch 89/100
804/804  1s 2ms/step - accuracy: 0.7678 - loss: 0.4732
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.7625 - loss: 0.4801
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7641 - loss: 0.4793
Epoch 92/100
804/804  3s 2ms/step - accuracy: 0.7636 - loss: 0.4735
Epoch 93/100
804/804  2s 2ms/step - accuracy: 0.7640 - loss: 0.4757
Epoch 94/100
804/804  1s 2ms/step - accuracy: 0.7666 - loss: 0.4724
Epoch 95/100
804/804  1s 2ms/step - accuracy: 0.7654 - loss: 0.4798
Epoch 96/100
804/804  1s 2ms/step - accuracy: 0.7687 - loss: 0.4716
Epoch 97/100
804/804  1s 2ms/step - accuracy: 0.7681 - loss: 0.4710
Epoch 98/100
804/804  3s 2ms/step - accuracy: 0.7711 - loss: 0.4686
Epoch 99/100
804/804  3s 3ms/step - accuracy: 0.7670 - loss: 0.4740
Epoch 100/100
804/804  1s 2ms/step - accuracy: 0.7682 - loss: 0.4728

In [90]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7539 - loss: 0.5267
Loss: 0.5267384052276611, Accuracy: 0.7539358735084534

In [91]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization3.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.